{{define "group"}}
    {{template "header" .}}

    {{range .Group}}
        {{template "api" .}}
    {{end}}

    {{template "footer" .}}
{{end}}

{{define "api"}}
<section class="api method-{{.Method}}">
    <h3>
        <span class="method">{{.Method}}</span>
        <span class="url">{{.URL}}</span>
    </h3>
    <div class="api-content">
        <p>{{.Summary}}</p>
        {{if .Description}}
        <p class="description">{{.Description}}</p>
        {{end}}

        {{if .Queries}}
            <h4>查询参数</h4>
            {{template "param" .Queries}}
        {{end}}

        {{if .Params}}
            <h4>参数</h4>
            {{template "param" .Params}}
        {{end}}

        {{if .Request}}
        <div>
            <h4>请求</h4>
            <div>
                <p>数据类型: {{.Request.Type}}</p>

                {{if .Request.Headers}}
                <h5>请求头:</h5>
                <ul>
                    {{range $k,$v:=.Request.Headers}}
                    <li><span class="header-key">{{$k}}:</span>{{$v}}</li>
                    {{end}}
                </ul>
                {{end}}

                {{if .Request.Params}}
                <h5>参数:</h5>
                    {{template "param" .Request.Params}}
                {{end}}

                {{if .Request.Examples}}
                <h5>示例:</h5>
                    {{range .Request.Examples}}
                    <pre class="code" data-type="{{.Type}}">{{.Code}}</pre>
                    {{end}}
                {{end}}
            </div>
        </div>
        {{end}}

        {{if .Success}}
        <div>
            <h4>响应-SUCCESS</h4>
            {{template "response" .Success}}
        </div>
        {{end}}

        {{if .Error}}
        <div>
            <h4>响应-ERROR</h4>
            {{template "response" .Error}}
        </div>
        {{end}}
    </div>
</section>
{{end}}




{{define "param"}}
    <ul>
    {{range .}}
    <li>
        <span class="param-name">{{.Name}}</span>
        <span class="param-type">{{.Type}}</span>
        <span>{{.Summary}}</span>
    </li>
    {{end}}
    </ul>
{{end}}




{{define "response"}}
        <p><span class="status-code">status:{{.Code}}</span>{{.Summary}}</p>

        {{if .Headers}}
        <h5>请求头</h5>
        <ul>
            {{range $k,$v:=.Headers}}
            <li><span class="header-key">{{$k}}:</span>{{$v}}</li>
            {{end}}
        </ul>
        {{end}}

        {{if .Params}}
        <h5>参数:</h5>
            {{template "param" .Params}}
        {{end}}

        {{if .Examples}}
        <h5>示例:</h5>
            {{range .Examples}}
            <pre class="code" data-type="{{.Type}}">{{.Code}}</pre>
            {{end}}
        {{end}}
{{end}}
