@charset "utf-8";

/*============== reset =================*/
body{
    margin:0rem;
}

a{
    text-decoration:none;
    color:#3b8bba;
}

p{
    margin:.5rem 0rem;
}

ul{
    margin:.5rem -0.5rem;
    padding:0rem 1.5rem;
    list-style:none;
}

ul li{
    margin:.2rem 0rem;
}

.fl{
    float:left;
}

.fr{
    float:right;
}

/*=============== header ================*/

header{
    color:#777;
    background-color:#fafafa;
    border:1px solid #eee;
    padding:1rem 2.3rem;
    left:0;
    right:0;
    top:0;
    position:fixed;

}

header .title{
    font-size:2rem;
    display:inline-block;
    margin:0rem;
}

header .title .version{
    font-size:1rem;
}

header #groups{
    margin-left:20%;
}

header .filter{
    margin-top:.8rem;
}

header .filter label{
    margin-left:1rem;
    vertical-align: bottom;
}

/*=============== main ================*/

.main{
    padding:0rem 2rem;
    margin-top:8rem;
}

.main section{
    padding:1rem;
    margin:1rem 0rem;
    border:1px solid #eee;
}

.main h3{
    cursor:pointer;
    margin:0rem;
}

.main h4{
    margin-bottom:0rem;
    border-bottom:1px solid #eee;
    padding-bottom:.2rem;
}

.main h5{
    margin:1rem 0rem;
}

.main h3 .method{
    width:5rem;
    font-weight:bold;
    display:inline-block;
    text-transform:uppercase;
}

.main h3 .get{
    color:green;
}

.main h3 .options{
    color:green;
}

.main h3 .delete{
    color:red;
}

.main h3 .put,.main h3 .patch{
    color:rgb(193,174,49);
}

.main h3 .post{
    color:rgb(240,114,11);
}

.main h3 .url{
    display:inline-block;
    margin-right:2rem;
}

.main .content{
    display:none;
}

.main .header-key{
    min-width:15rem;
    display:inline-block;
}

.main .status-code{
    min-width:6rem;
    display:inline-block;
}

.main table{
    text-align:left;
    border-collapse:collapse;
}

.main table thead tr, .main table tbody tr:nth-child(even){
    background:#ddd;
}

.main table th, .main table td{
    padding:.3rem 1rem;
}

/*=============== footer ================*/
footer{
    border-top:1px solid #eee;
    background-color:#fafafa;
    color:#777;
    padding:1rem;
    margin-top:2rem;
}

footer p{
    margin:.5rem;
    padding:0px;
}
