@charset "utf-8";

/*============== reset =================*/
body{
    margin:0 auto;
}

a{
    text-decoration:none;
    color:#3b8bba;
}

p{
    margin:.5rem 0rem;
}

ul{
    margin:.5rem -0.5rem;
    padding:0rem 1.5rem;
    list-style:none;
}

ul li{
    margin:.2rem 0rem;
}

.fl{
    float:left;
}

.fr{
    float:right;
}

/*=============== header ================*/

header{
    color:#777;
    background-color:#fafafa;
    border:1px solid #eee;
    padding:1rem 2.3rem;
    left:0;
    right:0;
    top:0;
    position:fixed;

}

header h1{
    font-size:2rem;
    display:inline-block;
    margin:0rem;
}

header h1 .version{
    font-size:1rem;
}

header #groups{
    margin-left:20%;
}

header .filter{
    margin-top:.8rem;
}

header .filter label{
    margin-left:1rem;
    vertical-align: bottom;
}

.main{
    padding:0rem 2rem;
    margin-top:5.5rem;
}

/*=============== .api ================*/

.main .api{
    padding:1rem;
    margin:1rem 0rem;
    border:1px solid #eee;
}

.api h3{
    cursor:pointer;
    margin:0rem;
}

.api h4{
    font-size:1.1rem;
    margin-bottom:.2rem;
    border-bottom:1px solid #eee;
    padding-bottom:.2rem;
}

.api h5{
    margin:.8rem 0rem .2rem 0rem;
    font-size:1rem;
}

.api h3 .method{
    width:5rem;
    font-weight:bold;
    display:inline-block;
    text-transform:uppercase;
}

.api h3 .get{
    color:green;
}

.api h3 .options{
    color:green;
}

.api h3 .delete{
    color:red;
}

.api h3 .put,.api h3 .patch{
    color:rgb(193,174,49);
}

.api h3 .post{
    color:rgb(240,114,11);
}

.api h3 .url{
    display:inline-block;
    margin-right:2rem;
}

.api h4 .success{
    color:green;
    margin-right:1rem;
}

.api h4 .error{
    color:green;
    margin-right:1rem;
}

.api .content{
    display:none;
}

.api table{
    text-align:left;
    border-collapse:collapse;
    border:1px solid #ddd;
}

.api table thead tr{
    background:#eee;
}

.api table tr{
    border-bottom:1px solid #ddd;
    line-height:1.5rem;
}

.api table tbody th .parent{
    color:#ccc;
}

.api table th, .api table td{
    padding:.3rem 1rem;
}

/*=============== footer ================*/
footer{
    border-top:1px solid #eee;
    background-color:#fafafa;
    color:#777;
    padding:1rem;
    margin-top:2rem;
}

footer p{
    margin:.5rem;
    padding:0px;
}
