# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

*.exe
*.test
*.prof

# vim
*.swp

# macOS
.DS_Store

# goreleaser
dist

# project
.apidoc.yaml
.apidoc.yml
apidoc.json
apidoc.yaml
apidoc.xml

.vscode
.idea

.testdata
