language: go

os:
  - linux
  - osx

go:
  - tip
  - 1.11
  - "1.10"

install:
  - go get github.com/issue9/assert
  - go get github.com/issue9/term/colors
  - go get github.com/issue9/utils
  - go get github.com/issue9/version
  - go get github.com/issue9/is
  - go get github.com/issue9/logs

  - go get gopkg.in/yaml.v2
  - go get golang.org/x/text

script: GO111MODULE=on go test -v -coverprofile=coverage.txt -covermode=atomic $(go list ./...)

after_success: bash <(curl -s https://codecov.io/bash)
