header{
    padding:.5rem;
    background:white;
    border-bottom:1px solid #eee;
    position:fixed;
    z-index:10;
    top:0;
    left:0;
    right:0;
}

header .menu{
    font-size:1.2rem !important;
}

header h1{
    font-size:1.2rem !important;
}

header .version{
    margin-left:.2rem;
}



footer{
    padding:1rem;
    margin-top:2rem;
    border-top:1px solid #eee;
    background:white;
}

footer p{
    margin:0rem 0rem .5rem 0rem;
    padding:0rem;
}

footer .left{
    text-align:left;
    float:left;
}

footer .right{
    text-align:right;
    float:right;
}

footer .clearfix{
    clear:both;
}


#top{
    position: fixed;
    right:2rem;
    bottom:5rem;
    color:black;
}

#top:hover{
    text-decoration:none;
    color:#699cc8;
}



code, pre{
    border:1px solid #eee;
    border-radius:3px;
    padding:0.1rem 0.5rem;
}

pre .keyword{
    color:green;
}

pre .string{
    color:#c82;
}

pre .bool{
    color:#90c;
}

#main{
    margin-top:6.5rem;
}

#main article{
    margin-top:2rem;
}

#main article h3{
    padding:0rem;
    margin:1.2rem 0rem .5rem 0rem;
}


@media (max-width:560px){
    footer .right{
        text-align:left;
        float:left;
    }
}
