{{define "doc"}}
    <h3>
        <span class="methods">{{.Methods}}</span>
        <span class="url">{{.URL}}</span>
        <span class="fr">{{.Summary}}</span>
    </h3>

    {{if .Description}}
    <p class="description">{{.Description}}</p>
    {{end}}

    {{if .Queries}}
        <h5>Query</h5>
        {{template "param" .Queries}}
    {{end}}

    {{if .Params}}
        <h5>Param</h5>
        {{template "param" .Params}}
    {{end}}

    {{if .Request}}
        <div>
            <h5>Request</h5>
            <div>
                <p>数据类型:{{.Request.Type}}</p>
                {{range $k,$v:=.Request.Headers}}
                <p>{{$k}}:{{$v}}</p>
                {{end}}
                {{range .Request.Params}}
                <p>{{.Name}}:{{.Type}},{{.Description}}</p>
                {{end}}
                {{range .Request.Examples}}
                <div class="code" data-type="{{.Type}}">{{.Code}}</div>
                {{end}}
            </div>
        </div>
    {{end}}

    {{if .Status}}
        <div>
            <h5>Response</h5>
            {{range .Status}}
                <div>
                <p>status:{{.Code}},{{.Summary}}</p>
                <p>数据类型:{{.Type}}</p>
                {{range $k,$v:=.Headers}}
                <p>{{$k}}:{{$v}}</p>
                {{end}}
                {{range .Params}}
                <p>{{.Name}}:{{.Type}},{{.Description}}</p>
                {{end}}
                {{range .Examples}}
                <div class="code" data-type="{{.Type}}">{{.Code}}</div>
                {{end}}
            </div>
            {{end}}
        </div>
    {{end}}

{{end}}

{{define "param"}}
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Optional</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
        {{range .}}
            <tr>
                <td>{{.Name}}</td>
                <td>{{.Type}}</td>
                <td>{{.Optional}}</td>
                <td>{{.Description}}</td>
            </tr>
        {{end}}
        </tbody>
    </table>
{{end}}

