{{define "group"}}
<section class="{{.Method}}">
    <h3>
        <span class="method">{{.Method}}</span>
        <span class="url">{{.URL}}</span>
    </h3>
    <p>{{.Summary}}</p>
    {{if .Description}}
    <p class="description">{{.Description}}</p>
    {{end}}

    {{if .Queries}}
        <h4>查询参数</h4>
        {{template "param" .Queries}}
    {{end}}

    {{if .Params}}
        <h4>参数</h4>
        {{template "param" .Params}}
    {{end}}

    {{if .Request}}
    <div>
        <h4>请求</h4>
        <div>
            <p>数据类型: {{.Request.Type}}</p>

            {{if .Request.Headers}}
            <h5>header:</h5>
            <ul>
                {{range $k,$v:=.Request.Headers}}
                <li><span class="header-key">{{$k}}:</span>{{$v}}</li>
                {{end}}
            </ul>
            {{end}}

            {{if .Request.Params}}
            <h5>参数:</h5>
                {{template "param" .Request.Params}}
            {{end}}

            {{if .Request.Examples}}
            <h5>example:</h5>
                {{range .Request.Examples}}
                <pre class="code" data-type="{{.Type}}">{{.Code}}</pre>
                {{end}}
            {{end}}
        </div>
    </div>
    {{end}}

    {{if .Status}}
    <div>
        <h4>响应</h4>
        {{range .Status}}
        <div>
            <p><span class="status-code">status:{{.Code}}</span>{{.Summary}}</p>

            {{if .Headers}}
            <h5>header</h5>
            <ul>
                {{range $k,$v:=.Headers}}
                <li><span class="header-key">{{$k}}:</span>{{$v}}</li>
                {{end}}
            </ul>
            {{end}}

            {{if .Params}}
            <h5>参数:</h5>
                {{template "param" .Params}}
            {{end}}

            {{if .Examples}}
            <h5>example:</h5>
                {{range .Examples}}
                <pre class="code" data-type="{{.Type}}">{{.Code}}</pre>
                {{end}}
            {{end}}
        </div>
        {{end}}
    </div>
    {{end}}
</section>
{{end}}

{{define "param"}}
    <ul>
    {{range .}}
    <li>
        <span class="param-name">{{.Name}}</span>
        <span class="param-type">{{.Type}}</span>
        <span class="param-desc">{{.Description}}</span>
    </li>
    {{end}}
    </ul>
{{end}}
