@charset "utf-8";

/*============== reset =================*/
body{
    margin:0em;
}

a{
    text-decoration:none;
    color:#3b8bba;
}

p{
    margin:0.5em 0em;
}

ul{
    margin:0.5em 0em;
    padding:0em 1.5em;
}

ul li{
    margin:0.2em;
}

.fl{
    float:left;
}

.fr{
    float:right;
}

/*=============== header ================*/

header{
    color:#777;
    background-color:#fafafa;
    border:1px solid #eee;
    padding:3em 2.3em 0.5em 2.3em;
    left:0;
    right:0;
    top:0;
    position:fixed;

}

header .title{
    font-size:2em;
}

header .filter{
    margin-top:0.8em;
}

header #groups{
    margin-left:20%;
}

header label{
    margin-left:1em;
    vertical-align: bottom;
}

/*=============== main ================*/

.main{
    padding:0em 2em;
    margin-top:8em;
}

.main section{
    padding:1em;
    margin:1em 0em;
    border:1px solid #eee;
}

.main .get:hover{
    border:1px solid rgba(0,255,0,0.5);
}

.main .delete:hover{
    border:1px solid rgba(255,0,0,0.5);
}

.main .put:hover,.main .patch:hover{
    border:1px solid rgba(193,174,49,0.5);
}

.main .post:hover{
    border:1px solid rgba(240,114,11,0.5);
}

.main h1{
    border-bottom:1px solid #eee;
    margin-left:40%;
}

.main h2{
    margin-left:40%;
}

.main h3{
    margin-top:0em;
}

.main h4{
    margin-bottom:0em;
    border-bottom:1px solid #eee;
    padding-bottom:0.2em;
}

.main h5{
    margin:1em 0em;
}

.main .methods{
    margin-right:2em;
    text-transform:uppercase;
}

.main .param-name{
    min-width:7em;
    display:inline-block;
}

.main .param-type{
    min-width:5em;
    display:inline-block;
}

.main .header-key{
    min-width:15em;
    display:inline-block;
}

.main .status-code{
    min-width:6em;
    display:inline-block;
}

/*=============== footer ================*/
footer{
    border-top:1px solid #eee;
    background-color:#fafafa;
    color:#777;
    padding:1em;
    margin-top:2em;
}

footer p{
    margin:0.5em;
    padding:0px;
}
