@charset "utf-8";

:root {
    --header-height: 54px;
    --border-color: #e0e0e0;
    --padding: 1rem;
    --article-padding: calc(var(--padding) / 2);

    --background: white;

    /* method */
    --method-get-color: green;
    --method-options-color: green;
    --method-post-color: darkorange;
    --method-put-color: darkorange;
    --method-patch-color: darkorange;
    --method-delete-color: red;
}

html {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
    background: var(--background);
}

table {
    width: 100%;
}

table th, table td {
    text-align: left;
    border-bottom: 1px solid var(--border-color);
}

ul, ol {
    padding: 0;
    margin: 0;
    list-style-position: inside;
}

p {
    margin: 0;
}

/*************************** header ***********************/

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: block;
    z-index: 1000;
    padding: var(--padding);
    padding-bottom: var(--article-padding);
    height: var(--header-height);
    box-sizing: border-box;

    background: var(--background);
    border-bottom: 1px solid var(--border-color);
}

header h1, header h2 {
    margin: 0;
    display: inline-block;
}

header h1 .version {
    font-size: 1rem;
}

header h1 img {
    height: 1.5rem;
    margin-right: .5rem;
}

header .menu {
    float: right;
    margin-right: var(--padding);
    position: relative;
    margin-top: 9px;
}
header .menu:first-of-type {
    margin-right: 0;
}

header .menu h2 {
    font-size: 1rem;
    line-height: 1;
}

header .menu ul {
    position: absolute;
    min-width: 4rem;
    display: none;
    list-style: none;
    background: var(--background);
    border-bottom: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    padding: var(--article-padding);
}

header .menu:hover ul {
    display: block;
}

/*************************** main ***********************/

main {
    padding: 0rem var(--padding);
    top: calc(var(--header-height) + var(--padding));
    left: 0;
    right: 0;
    position: relative;
}

main .content {
    padding: var(--article-padding);
}

main .api {
    margin-bottom: var(--padding);
}

main .api summary{
    margin: 0;
    padding: var(--article-padding);
    border-bottom: 1px solid var(--border-color);
    cursor: pointer;
    line-height: 1;
}


main details.api:not([open]) summary {
    border: none;
}

main .api summary .action {
    min-width: 4rem;
    font-weight: bold;
    display: inline-block;
}

main .api .description {
    padding:var(--article-padding);
    margin: 0;
    border-bottom: 1px solid var(--border-color);
}

main .api summary .summary {
    float: right;
    font-weight: 400;
    opacity: .5;
}

main .api[data-method=GET],
main .callback[data-method=GET] h3 {
    border: 1px solid var(--method-get-color);
}
main .api[data-method=GET] summary {
    border-bottom: 1px solid var(--method-get-color);
}

main .api[data-method=POST],
main .callback[data-method=POST] h3 {
    border: 1px solid var(--method-post-color);
}
main .api[data-method=POST] summary {
    border-bottom: 1px solid var(--method-post-color);
}

main .api[data-method=PUT],
main .callback[data-method=PUT] h3 {
    border: 1px solid var(--method-put-color);
}
main .api[data-method=PUT] summary {
    border-bottom: 1px solid var(--method-put-color);
}

main .api[data-method=PATCH],
main .callback[data-method=PATCH] h3 {
    border: 1px solid var(--method-patch-color);
}
main .api[data-method=PATCH] summary {
    border-bottom: 1px solid var(--method-patch-color);
}

main .api[data-method=DELETE],
main .callback[data-method=DELETE] h3 {
    border: 1px solid var(--method-delete-color);
}
main .api[data-method=DELETE] summary {
    border-bottom: 1px solid var(--method-delete-color);
}

main .api[data-method=OPTIONS],
main .callback[data-method=OPTIONS] h3 {
    border: 1px solid var(--method-options-color);
}
main .api[data-method=OPTIONS] summary {
    border-bottom: 1px solid var(--method-options-color);
}

main .callback h3 {
    padding: var(--article-padding) var(--padding);
    margin: 0;
    border-left: none !important;
    border-right: none !important;
}

main .api .body {
    display: flex;
}

main .api .body .requests,
main .api .body .responses {
    flex: 1 1 50%;
    padding: var(--article-padding);
}
main .api .body .requests {
    border-right: 1px dotted var(--border-color);
}

main .api .body .requests h4,
main .api .body .responses h4 {
    margin: 0;
}

main .api .body .request .mimetype,
main .api .body .response .mimetype {
    border-bottom: 1px solid var(--border-color);
}


/*************************** footer ***********************/

footer {
    margin-top: 4rem;
    padding: var(--padding);
}
