@charset "utf-8";

:root {
    --aside-width: 13rem;
    --border-color: #e0e0e0;
    --padding: 1rem;
    --article-padding: calc(var(--padding) / 2);

    /* method */
    --method-get-color: green;
    --method-options-color: green;
    --method-post-color: darkorange;
    --method-put-color: darkorange;
    --method-patch-color: darkorange;
    --method-delete-color: red;
}

html {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
}

table {
    width: 100%;
}

table th, table td {
    text-align: left;
    border-bottom: 1px solid var(--border-color);
}

/*************************** header ***********************/

header h1 {
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 0;
    padding: 0rem var(--padding);
}

header h1 .app-name {
    width: var(--aside-width);
    text-transform: uppercase;
}

header h1 .app-name img {
    height: 1.5rem;
    margin-right: .5rem;
}

/*************************** aside ***********************/

aside {
    padding: var(--padding);
    width: var(--aside-width);
    border-right: 1px solid var(--border-color);
    float: left;
    min-height: 100%;
}

aside h2 {
    margin: 0
}

/*************************** main ***********************/

main {
    padding: 0rem var(--padding);
    width: calc(100% - var(--aside-width) - (5 * var(--padding)));
    float: right;
    min-height: 100%;
}

main .content {
    padding: var(--article-padding);
}

main article {
    margin:var(--padding) 0;
}

main .server h3,
main .api h3{
    margin: 0;
    padding: var(--article-padding);
    border-bottom: 1px solid var(--border-color);
    cursor: pointer;
}

main .server h3 .action,
main .api h3 .action {
    min-width: 4rem;
    font-weight: bold;
    display: inline-block;
}

main .server .summary,
main .api .summary {
    padding:var(--article-padding);
    margin: 0;
    border-bottom: 1px solid var(--border-color);
}

main .api[data-method=GET] {
    border: 1px solid var(--method-get-color);
}
main .api[data-method=GET] h3 {
    border-bottom: 1px solid var(--method-get-color);
}

main .api[data-method=POST] {
    border: 1px solid var(--method-post-color);
}
main .api[data-method=POST] h3 {
    border-bottom: 1px solid var(--method-post-color);
}

main .api[data-method=PUT] {
    border: 1px solid var(--method-put-color);
}
main .api[data-method=PUT] h3 {
    border-bottom: 1px solid var(--method-put-color);
}

main .api[data-method=PATCH] {
    border: 1px solid var(--method-patch-color);
}
main .api[data-method=PATCH] h3 {
    border-bottom: 1px solid var(--method-patch-color);
}

main .api[data-method=DELETE] {
    border: 1px solid var(--method-delete-color);
}
main .api[data-method=DELETE] h3 {
    border-bottom: 1px solid var(--method-delete-color);
}

main .api[data-method=OPTIONS] {
    border: 1px solid var(--method-options-color);
}
main .api[data-method=OPTIONS] h3 {
    border-bottom: 1px solid var(--method-options-color);
}

main .api .body {
    display: flex;
}

main .api .body .requests,
main .api .body .responses {
    flex: 1 1 50%;
    padding: var(--article-padding);
}
main .api .body .requests {
    border-right: 1px dotted var(--border-color);
}

main .api .body .requests h4,
main .api .body .responses h4 {
    margin: 0;
}

main .api .body .request .mimetype,
main .api .body .response .mimetype {
    border-bottom: 1px solid var(--border-color);
}



/*************************** footer ***********************/

footer {
    clear: both;
    padding: var(--padding);
}
