<?xml version="1.0" encoding="UTF-8"?>

<!-- 该文件由工具自动生成，请勿手动修改！-->

<config>
	<name>apidoc</name>
	<version>6.1.0</version>
	<repo>https://github.com/caixw/apidoc</repo>
	<url>https://apidoc.tools</url>
	<languages>
		<language>C#</language>
		<language>C/C++</language>
		<language>D</language>
		<language>Erlang</language>
		<language>Go</language>
		<language>Groovy</language>
		<language>Java</language>
		<language>JavaScript</language>
		<language>Kotlin</language>
		<language>Pascal/Delphi</language>
		<language>Perl</language>
		<language>PHP</language>
		<language>Python</language>
		<language>Ruby</language>
		<language>Rust</language>
		<language>Scala</language>
		<language>Swift</language>
	</languages>
</config>
