@charset "utf-8";

:root {
    --max-width: 1024px;
    --padding: 1rem;
    --article-padding: calc(var(--padding) / 2);

    --color: black;
    --accent-color: #0074d9;
    --background: white;
    --border-color: #e0e0e0;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color: #b0b0b0;
        --accent-color: #0074d9;
        --background: black;
        --border-color: #303030;
    }
}

body {
    padding: 0;
    margin: 0 auto;
    color: var(--color);
    background: var(--background);
}

table {
    width: 100%;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: 0 var(--article-padding);
}

table thead tr {
    height: 2.5rem;
}

table th {
    white-space: nowrap;
    padding-right: .5rem;
}

table th, table td {
    text-align: left;
    border-bottom: 1px solid var(--border-color);
}

table tbody tr:last-of-type td,
table tbody tr:last-of-type th {
    border-bottom: none;
}

ul, ol {
    padding: 0;
    margin: 0;
    list-style-position: inside;
}

a {
    text-decoration: none;
    color: var(--color);
}

a:hover {
    color: var(--accent-color);
}

p {
    margin: 15px 0;
}

pre {
    border: 1px solid var(--border-color);
    padding: var(--article-padding);
    border-radius: 5px;
    white-space: pre-wrap;
}

/*************************** header ***********************/

header {
    top: 0;
    left: 0;
    position: sticky;
    z-index: 1000;
    box-sizing: border-box;
    background: var(--background);
    box-shadow: 2px 2px 2px var(--border-color);
}

header .wrap {
    margin: 0 auto;
    text-align: left;
    max-width: var(--max-width);
    padding: 0 var(--padding);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    display: inline-block;
    margin: var(--article-padding) 0;
    text-transform: uppercase;
}

header h1 .version {
    font-size: 1rem;
}

header h1 img {
    height: 1.5rem;
    margin-right: .5rem;
}

header .menus {
    display: flex;
    align-items: baseline;
}

header .menu {
    margin-left: var(--padding);
    color: var(--color);
}

header .menu:hover {
    opacity: .7;
}

header .drop-menus {
    position: relative;
    cursor: pointer;
}

header .drop-menus ul {
    position: absolute;
    right: 0;
    display: none;
    list-style: none;
    background: var(--background);
    border: 1px solid var(--border-color);
    padding: var(--article-padding);
}

header .drop-menus a {
    color: var(--color);
}

header .drop-menus:hover ul {
    display: block;
}

/************************** main **************************/

main {
    margin: 0 auto;
    max-width: var(--max-width);
    padding: var(--padding);
}

main article .link {
    font-size: .8rem;
    display: none;
}

main article h2:hover .link,
main article h3:hover .link {
    display: inline-block;
}

/************************* footer **************************/

footer {
    border-top: 1px solid var(--border-color);
    padding: 0 var(--padding) var(--padding);
}

footer .wrap {
    max-width: var(--max-width);
    margin: 0 auto;
}

.goto-top {
    border: solid var(--color);
    border-width: 0 5px 5px 0;
    display: block;
    padding: 5px;
    transform: rotate(-135deg);
    position: fixed;
    bottom: 3rem;
    right: 3rem;
}
