@charset "utf-8";

:root {
    --max-width: 1024px;
    --header-height: 54px;
    --padding: 1rem;
    --article-padding: calc(var(--padding) / 2);

    --color: black;
    --background: white;
    --border-color: #e0e0e0;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color: #b0b0b0;
        --background: black;
        --border-color: #303030;
    }
}

html {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
    color: var(--color);
    background: var(--background);
    text-align: center;
}

table {
    width: 100%;
    border: 1px solid var(--border-color);
    border-radius: 5px;
}

table thead tr {
    height: 2.5rem;
}

table th, table td {
    text-align: left;
    border-bottom: 1px solid var(--border-color);
}

table tbody tr:last-of-type td,
table tbody tr:last-of-type th {
    border-bottom: none;
}

ul, ol {
    padding: 0;
    margin: 0;
    list-style-position: inside;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--color);
}

p {
    margin: 15px 0;
}

pre {
    border: 1px solid var(--border-color);
    padding: var(--article-padding);
    border-radius: 5px;
}

/*************************** header ***********************/

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: block;
    z-index: 1000;
    height: var(--header-height);
    box-sizing: border-box;

    background: var(--background);
    border-bottom: 1px solid var(--border-color);
    text-align: center;
}

header .wrap {
    margin: 0 auto;
    text-align: left;
    max-width: var(--max-width);
}

header h1 {
    display: inline-block;
    margin: var(--padding) 0 var(--article-padding);
    text-transform: uppercase;
}

header h1 .version {
    font-size: 1rem;
}

header h1 img {
    height: 1.5rem;
    margin-right: .5rem;
}

header .menus {
    float: right;
}

header .menu {
    line-height: 3.5;
    margin-left: var(--padding);
    height: 100%;
    color: var(--color);
}

header .menu:hover {
    opacity: .5;
}

header .drop-menus {
    position: relative;
    cursor: pointer;
}

header .drop-menus ul {
    position: absolute;
    right: 0;
    top: 20px;
    display: none;
    list-style: none;
    background: var(--background);
    border: 1px solid var(--border-color);
    padding: var(--article-padding);
}

header .drop-menus:hover ul {
    display: block;
}

/************************** main **************************/

main {
    padding: 0 var(--padding);
    margin: 0 auto;
    max-width: var(--max-width);
    text-align: left;
}

main>article {
    margin-top: calc(var(--header-height) + var(--article-padding));
}

main article .link {
    font-size: .8rem;
    display: none;
}

main article h2:hover .link,
main article h3:hover .link {
    display: inline-block;
}

/************************* footer **************************/

footer {
    padding: var(--padding);
    margin: 0 auto;
    max-width: var(--max-width);
    text-align: left;
}
